header{
    background-image:url(img/bg.jpeg);
    background-size: cover;
    padding:0px;
    margin:-15px;
}

body{
background-color: black;
}
.main{
    color:white;
    margin:30px;
    border-radius: 10px;
    display:grid;
    justify-content: center;
    place-items:center;
    font-family: 'Times New Roman', Times;
}
.pics{
    margin-top: 10px;
    border-radius: 50px;
    width:25%;
}
body{
    background-image:url(img/bg.jpeg);
    background-size: cover;
}
.ser{
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium';
    font-size:60px;
}